html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
video{
    width: 100%;
    height: auto;
    z-index: 1;
}
button {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 4;
    width: 100%;
    height: 100%;
    opacity: 0;
}
button:active {
    background-color: #0056b3;
}
.box{
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    text-align: center;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

.message {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
}

.question {
    font-size: 20px;
    font-weight: bold;
    color: #b1123d;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.buttons p {
    flex: 1;
    padding: 15px 0;
    height: 50px;
    max-width: 45%;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.buttons .yes {
    background-color: #b1123d;
    color: #fff;
}

.buttons .yes:hover {
    background-color: #900d2f;
}

.buttons .no {
    background-color: #fff;
    color: #666;
    border: 1px solid #ccc;
}

.buttons .no:hover {
    background-color: #f0f0f0;
}
video::-webkit-media-controls {
    display: none !important;
}
video::-webkit-media-controls-enclosure {
    display: none !important;
}
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    z-index: 1000;
}